<div class="login-page">
	<div class="row justify-content-md-center">
		<div class="col-md-4">
			<img src="assets/img/logo.png" width="150px" class="user-avatar" />
			<h1>LOGIN SECA PAGE</h1>

			<app-listerrors [errors]="errors"></app-listerrors>

			<form role="form" [formGroup]="authForm" (ngSubmit)="onLoggedin()">

				<fieldset class="form-content" [disabled]="isSubmitting">
					<div class="form-group">
						<input type="text" formControlName="username"
							class="form-control input-underline input-lg" placeholder="User Name">
					</div>

					<div class="form-group">
						<input type="password"
							class="form-control input-underline input-lg"
							formControlName="password" placeholder="Password">
					</div>

					<div class="form-group">
						<input type="text"
							class="form-control input-underline input-lg"
							formControlName="slug" placeholder="Slug">
					</div>
				</fieldset>

				<br/>
				<button class="btn rounded-btn" [disabled]="!authForm.valid">Sign in</button>
			</form>

		</div>
	</div>
</div>

